@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-orange: #FF8C42;
  --accent-cream: #FFF6EE;
  --text-dark: #3B2F2F;
}

/* Apply fonts */
html, body, #root {
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
  background: white;
}

/* Use Pacifico for large headings only */
.h-fancy {
  font-family: "Pacifico", cursive;
}
